*~
*.pyc
*.elc
dot/emacs.d/auto-save-list
dot/emacs.d/.emacs.desktop.lock
dot/gitconfig.local
dot/emacs.d/cache/*
dot/emacs.d/elpa/
loaddefs.el*
scratch.el*
dot/emacs.d/el-get
dot/config/fish/*_history
dot/config/fish/fishd*
